@model Project.Models.doctor

@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
 
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body style="background-image:url(https://mydoctor.lk/wp-content/uploads/2019/05/slider-bg1-2.jpg)">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <img src="https://elderjusticeny.org/wp-content/uploads/2020/04/medicare-supplemental-insurance.png" height="60" width="180" />
    <center>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h2 style="color:red">Doctor Signin Form</h2>
                <hr />
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.did, htmlAttributes: new { @class = "control-label col-md-2" })
                    <br /> (<i style="font-size:smaller">Must be your unique registration id</i>)
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.did, new { htmlAttributes = new { @class = "form-control" } })<br>
                        @Html.ValidationMessageFor(model => model.did, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.dname, htmlAttributes: new { @class = "control-label col-md-2" })
                  
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.dname, new { htmlAttributes = new { @class = "form-control" } })<br>
                        @Html.ValidationMessageFor(model => model.dname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.dage, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.dage, new { htmlAttributes = new { @class = "form-control" } })<br>
                        @Html.ValidationMessageFor(model => model.dage, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.dgender, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.dgender, new { htmlAttributes = new { @class = "form-control" } })<br>
                        @Html.ValidationMessageFor(model => model.dgender, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.daddress, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.daddress, new { htmlAttributes = new { @class = "form-control" } })<br>
                        @Html.ValidationMessageFor(model => model.daddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.dcategory, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.dcategory, new { htmlAttributes = new { @class = "form-control" } })<br>
                        @Html.ValidationMessageFor(model => model.dcategory, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })<br>
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.confirmpassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.confirmpassword, new { htmlAttributes = new { @class = "form-control" } })<br>
                        @Html.ValidationMessageFor(model => model.confirmpassword, "", new { @class = "text-danger" })
                    </div>
                </div>


                <br /><br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" style="background-color:navajowhite" />
                    </div>
                </div>
            </div>
        }

    </center>
</body>
</html>
