@model Project.Models.article

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-image:url(https://mydoctor.lk/wp-content/uploads/2019/05/slider-bg1-2.jpg)">
    <h2>Details</h2>

    <div>
        <h4>article</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.article_topic)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.article_topic)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.article_description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.article_description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.article_publishby)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.article_publishby)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.article_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </body>