@model IEnumerable<Project.Models.article>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-image:url(https://mydoctor.lk/wp-content/uploads/2019/05/slider-bg1-2.jpg)">
    <h1 style="color:darkviolet"><b>Articles</b></h1>

    <table>


        @foreach (var item in Model)
        {

            <tr>

                <td style="text-align:center"> <h2><b> @Html.DisplayFor(modelItem => item.article_topic)</b></h2> </td>
            </tr>
            <tr>
                <td> @Html.DisplayFor(modelItem => item.article_description)</td>
            </tr>
            <tr>

                <td style="text-align:right">  <b>Publish by</b> @Html.DisplayFor(modelItem => item.article_publishby)</td>

            </tr>


        }

    </table>
    <div>
        @using (Html.BeginForm("Main", "patients", FormMethod.Post))
        {
            <input type="hidden" name="name" value="@Session["name"]" />
            <input type="hidden" name="ppassword" value="@Session["pwd"]" />
            <input type="submit" value="Back To Main" />
        }
    </div>
</body>
