@model IEnumerable<Project.Models.patient>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body style="background-image:url(https://mydoctor.lk/wp-content/uploads/2019/05/slider-bg1-2.jpg)">
    @using (Html.BeginForm("DisplayPatientName", "patients", FormMethod.Post))
    {
        <b>Search by Name: </b> @Html.TextBox("name");
        <br />
        <br />
        <input type="submit" value="Search" />
    }
    <center><h2><b>Patient Records</b></h2></center><br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pgender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pblood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pemail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.confirmpassword)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.pname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pgender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pblood)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pemail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.confirmpassword)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.pid }) |
                    @Html.ActionLink("Details", "Details", new { id = item.pid }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.pid })
                </td>
            </tr>
        }

    </table>
    <div>
        @using (Html.BeginForm("AdminMain", "Home", FormMethod.Post))
        {
            <input type="hidden" name="name" value="@Session["name"]" />
            <input type="hidden" name="ppassword" value="@Session["pwd"]" />
            <input type="submit" value="Back To Main" />
        }
    </div>
</body>
</html>
